<!DOCTYPE html>
<html>
  <head>
  <!-- CSS files -->
  {{#each css}}
    <link href="/css/{{this}}" rel="stylesheet">
  {{/each}}
  <!-- End CSS files -->
  <title> 
    Crawler
  </title>
  <meta charset="utf-8">
  </head> 
<body>
  <!-- JS files -->
  {{#each js}}
    <script src="/js/{{this}}"></script>
  {{/each}}
  <!-- End JS files -->
  <!-- Nav bar Start -->
  {{#if user}}
    <img src="{{user.thumbNail}}">
    {{user.userName}}
  {{/if}}
  <nav>
    <ul>
      {{#if user}}
      <li><a href="/auth/logout">Log Out</a></li>
      {{else}}
      <li><a href="/auth/login">Log In</a></li>
      {{/if}}
    </ul>
  </nav>
  <div id="nav-main" class="row nav-bar">
    <span class="nav-logo">
      Wezen Web Crawler
    </span>
    <span class="right nav-account">
      <span id="login-btn" class="btn">
        Log In
      </span>
      <span>|</span>
      <span id="create-btn" class="btn">
        Create Account
      </span>
    </span>
  </div>
<!--
  <div class="ui blue inverted menu">
    <h2 class="item">
    </h2>
    <div class="right menu">
      <a class="item">
        Log In
      </a>
      <a class="item">
        Create Account
      </a>
    </div>
  </div>
-->
  <!-- End Nav Bar --> 
   {{{body}}}
</body>

</html>
