<div id="content-div" class="row">
  <div id="hist-main" class="hist-col">
    <div id="hist-head"><b>Crawl History</b></div>

      {{#each history }}

        <div id="history-url-{{this.idx}}" class="history-url" data-d={{this.data}}>
          {{this.url}} <small>({{this.steps}} step {{this.type}})</small>
        </div>

      {{/each}}
  </div>
  <div id="main-col" class="main-col">
    <div class="form-div">
      <div id="root-url-form" class="form-item">
        <label class="search-lbl">
          Root URL
        </label>
        <input id="url-text" type="text" value="http://google.com"></input>
      </div>

      <div id="keyword-form" class="form-item">
        <label class="search-lbl">
          Keyword
        </label>
        <input id="key-word" type="text"></input>
      </div>

      <div id="steps-form" class="form-item">
        <label class="search-lbl">
          Steps
        </label>
        <select id="steps-int">
          {{#each depth }}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      <div id="search-type-form" class="form-item">
        <label class="search-lbl">
          Search Type
        </label>
        <select id="search-type">
          {{#each search }}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      <div id="submit-form" class="form-item">
        <label class="search-lbl">
          &nbsp
        </label>
        <button id="search-submit-btn" class="btn">Crawl</button>
      </div>

    </div>

    <div style="clear:both"></div>

    <div id="test-data-btns">
      <span>
        <button id="d-seed-submit-btn">d seed</button>
      </span>
      <span>
        <button id="b-seed-submit-btn">b seed</button>
      </span>
    </div>
    <div id="tree-canvas">
    </div>
  </div>


  </div>
</div>

